body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;    
  }
  
/* Sección de cabeceras */
h1{
  color: #66BFBF;
  font-size: 5.625em;
  margin: 3.125em auto 0 auto;
  font-family: 'Sacramento', cursive;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  font-weight: bold;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  padding-bottom: 0.625em;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.pro {
  text-decoration: underline;
}

p{
  font-family: 'Merriweather', serif;
  line-height: 2;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;  
}

hr{
  border: dotted gray 0.5em;
  border-bottom: none;
  width: 2.5%;
  margin: 6.25em auto;
  clear: right;
}

/* Divisores de texto */
div{
  display: block;
}

/*Contenedor superior*/
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 6.25em;
}

/*Contenedor medio*/
.middle-container{
  margin: 6.25em 0;
  display: block;
}

/*Contenedor inferior*/
.bottom-container{
  background-color: #66BFBF;
  padding: 3.125em 0 1.25em;
}

/*Imagenes*/
.mountain{
  margin: 0;
  padding-bottom: 0;
}

.my-picture{
  height: 18em;
  width: 18em;
  border-radius: 50%;
}

.code-img{  
  width: 25%;   
  float: left;
  margin-right: 1.875em;
}

.backend-img{  
  width: 25%;  
  float: right;
  margin-left: 1.875em;
}

.top-cloud {
  height: 18em;
  width: 18em;
  position: absolute;
  right: 15%;
  top: 3%;
}

.bottom-cloud {
  height: 18em;
  width: 18em;
  position: absolute;
  left: 15.625em;
  bottom: 10em;
}

.github {
  height: 3em;
}

.instagram {
  height: 3em;
}

.linkedin {
  height: 3em;
}

/* Clases de texto */
.title-text{
  display: block;
}
  
.profile{
  display: block;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row{
  width: 50%;
  margin: 6.25em auto 6.25em auto;
  text-align: left;
  line-height: 2;  
}  

.contact-message{
  width: 40%;
  margin: 2.5em auto 3.75em;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 1.25em 0;
}

/* BOTON DE CONTACTO */
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/* A TAGS */
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 1.875em 0.5em;
  text-decoration: None;
}
/*Pseudoclase de iluminado al pasar mouse */
a:hover{
  color: #EAF6F6;
}
